<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>

    <% include ./partials/navbar %>

    <%- body -%>  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <% include ./partials/footer %>

  <% include ./partials/javascript %>
  </body>

</html>